<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/not_found.html</location>
    </error-page>
    <!-- Creation of Datasource in Application Server -->
    <data-source>
        <name>java:global/jdbc/muro</name>
        <class-name>org.apache.derby.jdbc.ClientConnectionPoolDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>1527</port-number>
        <database-name>muro</database-name>
        <user>dawuser1</user>
        <password>dawuser1</password>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>
    <security-constraint>
        <display-name>Acceso restringido a controlador</display-name>
        <web-resource-collection>
            <web-resource-name>MuroController</web-resource-name>
            <description/>
            <url-pattern>/muro</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Acceso a usuarios identificados</description>
            <role-name>USUARIOS</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/muro/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/muro/login.jsp?error=true</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>USUARIOS</role-name>
    </security-role>
</web-app>
