<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mensajes</title>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
         <script src="js/muroapp.js"></script>
         <script src="js/muroController.js"></script>
    </head>
    <body data-ng-app="muroApp" data-ng-controller="MuroController as ctrl">
        <a href="index.html">Volver</a>
        <h1>Muro de <span data-ng-bind="ctrl.identificador"></span></h1>
        <h2>Mensajes</h2>
        <ul id="idMensajes">
            <!-- Mensajes del Muro-->
            <li data-ng-repeat="m in ctrl.mensajes">
                <strong>{{m.identificador}}</strong>: {{m.mensaje}}
                </li>
        </ul>
        <div id="idErrores" >
            <p data-ng-repeat="e in ctrl.errores">{{e.message}}</p>
        </div>
        <form name="frmMensaje">
            <input data-ng-model="ctrl.textomensaje" type="text" name="mensaje"  placeholder="Mensaje">
            <input data-ng-click="ctrl.enviaMensaje()" type="submit" name="Enviar">
        </form>
        <h2>Cambiar el identificador</h2>
        <form name="frmIdentificador">
            <input data-ng-model="ctrl.nuevoidentificador" type="text" name="identificador"  placeholder="Identificador">
            <input data-ng-click="ctrl.cambiaIdentificador()"type="submit" name="Nuevo Identificador">
        </form>
    </body>
</html>
